@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-primary {
  background-color: #020523;
}

.bg-primary-70 {
  background-color: rgba(2, 5, 35, 0.7);
}

.bg-secondary {
  background: #c6d8d3;
}

.bg-glass {
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(30px);
  -webkit-backdrop-filter: blur(11.6px);
}


@layer utilities {
    .white-shadow {
    box-shadow: 0 10px 10px rgba(255, 255, 255, 0.3), 10px 10px 10px rgba(255, 255, 255, 0.3);
  }
}
