@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-primary {
  background-color: #020523;
}

.bg-secondary {
  background: #C6D8D3;
}

.bg-glass {
  background: rgba(255, 255, 255, 0);
  backdrop-filter: blur(30px);
  -webkit-backdrop-filter: blur(11.6px);
}

